[submodule "swarm"]
	path = submodules/swarm
	url = git@github.com:sociomantic/swarm.git
[submodule "ocean"]
	path = submodules/ocean
	url = git@github.com:sociomantic/ocean.git
[submodule "submodules/dmqproto"]
	path = submodules/dmqproto
	url = git@github.com:sociomantic/dmqproto.git
[submodule "submodules/turtle"]
	path = submodules/turtle
	url = git@github.com:sociomantic/turtle.git
[submodule "submodules/makd"]
	path = submodules/makd
	url = git@github.com:sociomantic/makd.git
