[submodule "swarm"]
	path = submodules/swarm
	url = git@github.com:sociomantic/swarm.git
[submodule "ocean"]
	path = submodules/ocean
	url = git@github.com:sociomantic/ocean.git
[submodule "queueproto"]
	path = submodules/queueproto
	url = git@github.com:sociomantic/queueproto.git
